# localhost

DATADOG_API_KEY=<your_api_key>
DATADOG_APP_KEY=<your_app_key>
STATSD_HOST=127.0.0.1
STATSD_PORT=8125
DATABASE_URL=postgres://postgres:test@localhost/DummyProject
POSTGRES_PASSWORD=test
POSTGRES_DB=DummyProject
POSTGRES_USER=postgres

# Docker

# DATADOG_API_KEY=<your_api_key>
# DATADOG_APP_KEY=<your_app_key>
# STATSD_HOST=app
# STATSD_PORT=8125
# DATABASE_URL=postgres://postgres:test@db/DummyProject
# POSTGRES_PASSWORD=test
# POSTGRES_DB=DummyProject
# POSTGRES_USER=postgres