DATADOG_API_KEY=<your_api_key>
DATADOG_APP_KEY=<your_app_key>
STATSD_HOST=127.0.0.1
STATSD_PORT=8125

POSTGRES_PASSWORD=test
POSTGRES_DB=DummyProject
POSTGRES_USER=postgres

# For localhost
DATABASE_URL=postgres://postgres:test@localhost/DummyProject

# For docker
# DATABASE_URL=postgres://postgres:test@db/DummyProject


